<div class="content-header">
	<ul class="nav nav-tabs clearfix">
		<li class="active">
			<span>员工列表</span>
			<button class="btn btn-xx-green btn-xx-sm" data-xx-action="openEmployeeModal" data-value="0">添加员工</button>
		</li>
	</ul>
	<div class="buttons">
		<div class="input-group search-xx-input">
			<input id="KW_TITLE" type="text" class="form-control" style="width:200px;" placeholder="标题" />
			<span class="input-group-btn">
				<button class="btn btn-default" data-xx-action="search">
				<span class="inside-loading">
					<i class="fa fa-spinner rolling font-14"></i>
				</span>
				<span class="inside-text">
					<i class="fa fa-search"></i>
				</span>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="content-body">
	<div id="Employees"></div>
</div>