<section class="employee-organizations-modal">
	<table class="table table-hover table-main middle center">
		<thead>
			<tr>
				<th class="width-60">#</th>
				<th>组织名称</th>
				<th class="width-200">学校</th>
				<th class="width-150">操作</th>
			</tr>
		</thead>
		<tbody>
			{{each organizations as organization i}}
			<tr>
				<td>
					<div class="ellipsis">{{i | index:pagination.page,pagination.limit}}</div>
				</td>
				<td>
					{{organization.name}}
				</td>
				<td>
					{{organization.school&&organization.school.name}}
				</td>
				<td>
					<button class="btn btn-xx-red btn-xx-sm btn-remove" data-value="{{organization.id}}">
						<span class="inside-loading"> 
		                    <i class="fa fa-spinner rolling font-14"></i>
		                </span>
		                <span class="inside-text"> 
		                    删除
		                </span>
					</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
<footer class="center">
	<button class="btn btn-xx-green btn-add-organizations">
		添加组织
	</button>
</footer>