<div class="school-editor-modal">
	<form>
		<div class="row">
			<h5>国家</h5>
			<div class="form-group">
				<input id="" class="form-control" name="country" value="{{country}}" placeholder="" />
			</div>
		</div>
		<div class="row">
			<h5>省份</h5>
			<div class="form-group">
				<input id="" class="form-control" name="province" value="{{province}}" placeholder="" />
			</div>
		</div>
		<div class="row">
			<h5>学校名称</h5>
			<div class="form-group">
				<input id="" class="form-control" name="name" value="{{name}}" placeholder="" />
			</div>
		</div>
		<div class="row">
			<h5>学校简称（可选）</h5>
			<div class="form-group">
				<input id="" class="form-control" name="shortName" value="{{shortName}}" placeholder="" />
			</div>
		</div>
		<div class="row buttons center">
			<button class="btn btn-xx-green btn-save">
				<span class="inside-loading"> 
					<i class="fa fa-spinner rolling font-14"></i>
				</span>
				<span class="inside-text">保存</span>
			</button>
		</div>
	</form>
</div>
