<div class="organization-selector-box">
	<div class="form-group clearfix">
		<input id="SearchInput" type="search" class="form-control" placeholder="快速查找组织"/>
	</div>
	<div class="organizations-box">
		<ul id="Results" class="clearfix"></ul>
		<div>
			<button class="btn btn-xx-green btn-large btn-more">
			<span class="inside-loading"> 
				<i class="fa fa-spinner rolling font-18"></i>
			</span>
			<span class="inside-text">加载更多</span>
		</button>
		</div>
	</div>
	<div class="center" style="margin-top: 20px;">
		<button class="btn btn-xx-green btn-save">
			<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
			</span>
			<span class="inside-text">确定</span>
		</button>
	</div>
</div>