<div class="xx-inner-title">
	<span class="xx-title">通知内容</span>
</div>
<div class="form-group">
	<textarea id="Context" class="xx-textarea" rows="10"></textarea>
</div>
<div class="xx-inner-title">
	<span class="xx-title">发送对象</span>
	<button class="btn btn-xx-green btn-xx-sm" data-xx-action="openSelector">
		<span>＋组织</span>
	</button>
</div>
<div class="tags-container xx-tag-group clearfix"></div>
<div class="buttons">
	<button class="btn btn-xx-green" data-xx-action="sendMessage">
		<span class="inside-loading">
			<i class="fa fa-spinner rolling font-14"></i>
		</span>
		<span class="inside-text">
			发送
		</span>
	</button>
</div>
