#AdminModal {
	.modal-content{
		width: 700px;
	}
}
.admin-user-selector {
	.users-container {
		text-align: left;
		height: 200px;
		width: 100%;
		border: 1px solid $default-border-color;
		overflow: auto;
		list-style: none;
		padding: 5px 10px;
		border-radius: $default-border-radius;
		>li {
			float: left;
			width: 33.333%;
			line-height: 20px;
			word-break: break-all;
		}
	}
}