<div class="login-bg"></div>
<div class="login-content">
	<h2 class="login-title">校校管理平台</h2>
	<form class="clearfix">
		<div class="username-wrap">
			<span class="fa fa-user input-icon" aria-hidden="true"></span>
			<input id="UserName" type="text" placeholder="请输入账号" />
		</div>
		<div class="password-wrap">
			<span class="fa fa-lock input-icon" aria-hidden="true"></span>
			<input id="Password" type="password" placeholder="请输入密码" />
		</div>
		<button data-xx-action="login" class="btn login-btn">
			<span class="inside-loading"> <i class="fa fa-globe rolling font-14"></i>
			</span>
			<span class="inside-text">登陆</span>
		</button>
	</form>
</div>
