<div class="home-container">
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>入驻组织数</h4>
				<!-- <p>{{orgs+10000}}</p> -->
				<p>{{orgs}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>注册用户数</h4>
				<!-- <p>{{users+2000000}}</p> -->
				<p>{{users}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>入驻高校数</h4>
				<!-- <p>{{usedSchools+200}}</p> -->
				<p>{{usedSchools}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>微信粉丝数</h4>
				<!-- <p>{{wechatAttentions+7000000}}</p> -->
				<p>{{wechatAttentions}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>活动数</h4>
				<!-- <p>{{events+6000}}</p> -->
				<p>{{events}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>文章数</h4>
				<!-- <p>{{articles+10000}}</p> -->
				<p>{{articles}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>投票数</h4>
				<!-- <p>{{votes+2000}}</p> -->
				<p>{{votes}}</p>
			</div>
		</a>
	</div>
	<div class="option-wrapper">
		<a href="javascript:void(0);">
			<div class="option-box">
				<h4>电子票数</h4>
				<!-- <p>{{tickets+1000}}</p> -->
				<p>{{tickets}}</p>
			</div>
		</a>
	</div>
</div>