<div class="user-selector-box">
	<div class="form-group clearfix">
		<div class="input-group search-xx-input">
            <input id="KW_NAME" type="text" class="form-control" placeholder="姓名" style="width:150px;">
            <input id="KW_PHONE" type="text" class="form-control" placeholder="手机号" style="width:150px;">
            <input id="KW_NICK" type="text" class="form-control" placeholder="昵称" style="width:150px;">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" data-xx-action="search">
                    <span class="inside-loading"> <i class="fa fa-spinner rolling font-14"></i>
                    </span>
                    <span class="inside-text"><i class="fa fa-search"></i></span>
                </button>
            </span>
        </div>
	</div>
	<div class="users-box">
		<ul id="Results" class="clearfix"></ul>
		<div>
			<button class="btn btn-xx-green btn-large btn-more">
			<span class="inside-loading"> 
				<i class="fa fa-spinner rolling font-18"></i>
			</span>
			<span class="inside-text">加载更多</span>
		</button>
		</div>
	</div>
	<div class="center" style="margin-top: 20px;">
		<button class="btn btn-xx-green btn-save">
			<span class="inside-loading"> <i class="fa fa-spinner rolling font-18"></i>
			</span>
			<span class="inside-text">确定</span>
		</button>
	</div>
</div>
