<div class="role-editor-modal">
	<div class="row">
		<h4>角色名称</h4>
		<div class="form-group">
			<input id="Name" class="form-control" value="{{name}}" placeholder="请输入角色名称" />
		</div>
	</div>
	<div class="row">
		<h4>角色描述</h4>
		<div class="form-group">
			<textarea id="Remark" class="form-control" rows="5" placeholder="请输入角色描述">{{remark}}</textarea>
		</div>
	</div>
	<div class="row buttons center">
		<button class="btn btn-xx-green btn-save">
			<span class="inside-loading"> <i class="fa fa-spinner rolling font-14"></i>
			</span>
			<span class="inside-text">保存</span>
		</button>
	</div>
</div>
