<div class="xx-modal-body resource-image-modal">
	<div class="form-group">
		<ul class="groups clearfix">
			{{each customGroups as group i}}
			<li>
				<label class="label-input ellipsis">
					<input type="radio" class="xx-option-input xx-radio" name="group" data-value="{{group.id}}" {{if !i}}checked{{/if}}/>
					{{group.name}}
				</label>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="buttons center">
		<button class="btn btn-xx-green btn-move" data-value="{{id}}">
			<span class="inside-loading">
				<i class="fa fa-spinner rolling font-14"></i>
			</span>
			<span class="inside-text">
				确定
			</span>
		</button>
	</div>
</div>