.label {
	border-radius: 1px;
	position: relative;
	padding: 4px 8px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	&.label-sm {
		padding: 3px 6px;
		font-size: 12px;
	}
	&.label-lg {
		padding: 6px 12px;
		font-size: 14px;
	}
	&.label-6-12 {
		border-radius: 12px;
		padding: 5px 12px;
	}
	&.label-default {
		background-color: #c2c2c2;
	}
	&.label-primary {
		background-color: $primary-color;
	}
	&.label-success {
		background-color: $success-color;
	}
	&.label-info {
		background-color: $info-color;
	}
	&.label-warning {
		background-color: $warning-color;
	}
	&.label-danger {
		background-color: $danger-color;
	}
	&.label-disabled {
		background: #E9E9E9;
		color: #fff;
	}
}