/**
 * 系统统一属性值变量定义
 */

$content-header-height: 44px;
 
$theme-color: #5bd18b;
$main-background-color: #e6e6e6;
$body-background-color: #ededed;
$default-background-color: #fbfbfb;
$default-border-color: #e3e3e3;
$default-border-radius: 2px;
$default-title-color: #545759;
$gray-title-color: #808080;

// 绿色
$green-color: #5bd18b;
$deep-green-color: #20b35d;

//红色
$red-color: #ff7979;
$deep-red-color: #ff5543;

//蓝色
$blue-color: #58a2ec;
$deep-blue-color: #1780f3;



$success-color: #5bd18b;
$deep-success-color: #20b35d;
$danger-color: #ff7979;
$deep-danger-color: #ff6e68;
$primary-color: #65abd0;
$info-color: #1c57ff;
$warning-color: #d9c26c;
$font-color:#444;
$deep-font-color:#111;
$light-font-color:#888;
