.role-editor-modal {
	.options-wrapper {
        .checkbox-option {
            float: left;
            width: 25%;
            line-height: 30px;
            height: 30px;
            overflow: hidden;
        }
    }
}