<ul class="viewFramework-sidebar">
    <!-- public/sidebar.scss -->
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-bar-chart"></i>数据统计</span>
        </div>
        <ul>
            <li class="level-2 LOGS">
                <a href="#log/list">热度统计</a>
            </li>
        </ul>
    </li>
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-users"></i>企业资料</span>
        </div>
        <ul>
            <li class="level-2 LOGS">
                <a href="#employee/list">员工管理</a>
            </li>
        </ul>
    </li>
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-th-large"></i>数据展示</span>
        </div>
        <ul>
            <li class="level-2 ORGANIZATIONS">
                <a href="#organization/list">组织数据</a>
            </li>
            <li class="level-2 USERS">
                <a href="#user/list">用户数据</a>
            </li>
            <li class="level-2 EVENTS">
                <a href="#event/list">活动数据</a>
            </li>
            <li class="level-2 ARTICLES">
                <a href="#article/list">文章数据</a>
            </li>
            <li class="level-2 VOTES">
                <a href="#vote/list">投票数据</a>
            </li>
            <li class="level-2 TICKETS">
                <a href="#ticket/list">电子票数据</a>
            </li>
        </ul>
    </li>
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-list-ul"></i>功能管理</span>
        </div>
        <ul>
            <!-- <li class="level-2 MONIES">
                <a href="#wallet/money/list">钱包管理</a>
            </li> -->
            <li class="level-2 MESSAGE">
                <a href="#message/send">系统消息</a>
            </li>
            <li class="level-2 TOKEN">
                <a href="#token/check">验证码查询</a>
            </li>
        </ul>
    </li>
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-wrench"></i>数据维护</span>
        </div>
        <ul>
            <!-- <li class="level-2 ADVERT_CONFIG">
                <a href="#advertisement/edit">广告设置</a>
            </li> -->
            <li class="level-2 IMAGES">
                <a href="#image/list">系统图库</a>
            </li>
            <li class="level-2 SCHOOLS">
                <a href="#school/list">高校管理</a>
            </li>
        </ul>
    </li>
    <li class="level-1">
        <div class="menu-title" data-xx-action="foldMenu">
            <span><i class="fa fa-unlock-alt"></i>权限管理</span>
        </div>
        <ul>
            <li class="level-2 USERROLES">
                <a href="#user/roles">用户权限管理</a>
            </li>
            <li class="level-2 ROLES">
                <a href="#role/list">角色管理</a>
            </li>
            <li class="level-2 AUTHORITYS">
                <a href="#authority/list">权限管理</a>
            </li>
        </ul>
    </li>
</ul>