<div class="admin-user-selector">
	<div class="form-group">
		<div class="input-group search-xx-input" style="width: 400px;">
            <input id="SearchText" type="text" class="form-control" placeholder="姓名/手机号">
            <span class="input-group-btn">
                <button class="btn btn-default" data-xx-action="searchUsers">
                    <span class="inside-loading"> <i class="fa fa-spinner rolling font-14"></i>
                    </span>
                    <span class="inside-text"><i class="glyphicon glyphicon-search"></i></span>
                </button>
            </span>
        </div>
	</div>
	<div id="UsersContainer">
		
	</div>
	<div class="center">
		<button class="btn btn-xx-green" data-xx-action="setAdmin">
			<span class="inside-loading">
				<i class="fa fa-spinner rolling font-14"></i>
			</span>
			<span class="inside-text">
				设置
			</span>
		</button>
	</div>
</div>
