<div class="content-header">
	<ul class="nav nav-tabs clearfix">
		<li class="active">
			<span>广告设置</span>
		</li>
	</ul>
</div>
<div class="content-body">
	<div class="advert-body" style="padding: 0 20px;">
		<div class="row">
			<h4>浏览金额(单位：元)</h4>
			<div class="form-group width-300">
				<input id="VIEW" class="form-control" value="{{viewPrice}}" placeholder="" />
			</div>
		</div>
		<div class="row">
			<h4>点击金额(单位：元)</h4>
			<div class="form-group width-300">
				<input id="CLICK" class="form-control" value="{{clickPrice}}" placeholder="" />
			</div>
		</div>
		<div class="row">
			<button class="btn btn-xx-green" data-xx-action="update">
			<span class="inside-loading">
				<i class="fa fa-spinner rolling font-14"></i>
			</span>
			<span class="inside-text">
				保存
			</span>
			</button>
		</div>
	</div>
</div>