<!-- application template -->
<header class="viewFramework-topbar">
	<div class="">
		<div class="pull-left" data-xx-action="goHome">
			<span>校校内部管理平台</span>
		</div>
		<div class="pull-right" data-xx-action="logout">
			<span class="fa fa-power-off"></span>
		</div>
	</div>
</header>
<!-- section content -->
<section class="viewFramework-body">
	<!-- span side-left -->
	{{include './public/sidebar'}}
	<!-- /span side-left -->
	<!-- application plug -->
	<div id="content" class="viewFramework-product"></div>
</section>